<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="downloadFile()" expand="full">
    <ion-icon name="download" slot="start"></ion-icon>
    Download from Url
  </ion-button>

  <div class="videoplayer">
    videogular
    <vg-player *ngIf="showVideo">
      <video class="videoplayer" [vgMedia]="media" #media id="singleVideo" preload="auto" controls crossorigin>
        <source [src]="urlVideo" type="video/mp4">
      </video>
    </vg-player>
  </div>

  <div id="vplayer" slot="fixed"></div>
</ion-content>
